JELLYFIN_URL={{ config.services.jellyfin.proxy_url or "http://jellyfin:" ~ (config.services.jellyfin.port or 8096) }}
JELLYFIN_ADMIN_USERNAME={{ secrets.get("jellyfin", {}).get("admin_username", "admin") }}
JELLYFIN_ADMIN_PASSWORD={{ secrets.get("jellyfin", {}).get("admin_password", "adminadmin") }}
JELLYFIN_MEDIA_ROOT=/data/media



