JELLYSEERR_URL={{ config.services.jellyseerr.proxy_url or "http://jellyseerr:" ~ (config.services.jellyseerr.port or 5055) }}
JELLYSEERR_ADMIN_USERNAME={{ secrets.get("jellyseerr", {}).get("admin_username", "admin") }}
JELLYSEERR_ADMIN_PASSWORD={{ secrets.get("jellyseerr", {}).get("admin_password", "adminadmin") }}


