{% set scratch_root = config.paths.scratch if config.paths.scratch else config.paths.pool ~ "/downloads" %}
{% if config.paths.scratch %}
{% set download_root = config.paths.scratch ~ "/downloads" %}
{% else %}
{% set download_root = config.paths.pool ~ "/downloads" %}
{% endif %}
PIPELINE_SCRATCH={{ scratch_root }}
PIPELINE_DOWNLOAD_COMPLETE={{ download_root ~ "/complete" }}
PIPELINE_DOWNLOAD_INCOMPLETE={{ download_root ~ "/incomplete" }}
PIPELINE_POSTPROC={{ scratch_root ~ "/postproc" }}
PIPELINE_TRANSCODE={{ scratch_root ~ "/transcode" }}
PIPELINE_MEDIA_ROOT={{ config.paths.pool ~ "/media" }}
RADARR_API_KEY={{ secrets.get("radarr", {}).get("api_key", "") }}
SONARR_API_KEY={{ secrets.get("sonarr", {}).get("api_key", "") }}
PROWLARR_API_KEY={{ secrets.get("prowlarr", {}).get("api_key", "") }}
JELLYFIN_ADMIN_USERNAME={{ secrets.get("jellyfin", {}).get("admin_username", "admin") }}
JELLYFIN_ADMIN_PASSWORD={{ secrets.get("jellyfin", {}).get("admin_password", "adminadmin") }}



