PROWLARR_URL={{ config.services.prowlarr.proxy_url or "http://prowlarr:" ~ (config.services.prowlarr.port or 9696) }}
PROWLARR_API_KEY={{ secrets.get("prowlarr", {}).get("api_key", "") }}
PROWLARR_SYNC_RADARR={{ "true" if config.services.radarr.enabled else "false" }}
PROWLARR_SYNC_SONARR={{ "true" if config.services.sonarr.enabled else "false" }}


