QB_USERNAME={{ secrets.get("qbittorrent", {}).get("username", config.services.qbittorrent.username) }}
QB_PASSWORD={{ secrets.get("qbittorrent", {}).get("password", config.services.qbittorrent.password) }}
QB_WEBUI_URL={{ config.services.qbittorrent.proxy_url or "http://qbittorrent:" ~ (config.services.qbittorrent.port or 8080) }}
QB_CATEGORY_MOVIES={{ config.download_policy.categories.radarr }}
QB_CATEGORY_SERIES={{ config.download_policy.categories.sonarr }}
QB_CATEGORY_ANIME={{ config.download_policy.categories.anime }}


