RADARR_URL={{ config.services.radarr.proxy_url or "http://radarr:" ~ (config.services.radarr.port or 7878) }}
RADARR_API_KEY={{ secrets.get("radarr", {}).get("api_key", "") }}
RADARR_ROOT_DIR=/data/media/movies


