SONARR_URL={{ config.services.sonarr.proxy_url or "http://sonarr:" ~ (config.services.sonarr.port or 8989) }}
SONARR_API_KEY={{ secrets.get("sonarr", {}).get("api_key", "") }}
SONARR_TV_DIR=/data/media/tv
SONARR_ANIME_DIR=/data/media/anime



